		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td class="titpag">
				<% @situacao.each do |s| %>
				<% if params[:id] == s.NumNF.to_s + "a" or params[:id] == s.NumNF.to_s + "b" %>
					Aviso de Crédito Previsto / Antecipação - Abatimentos/Descontos
				<% else %>
					Aviso de Crédito Realizado - Abatimentos/Descontos
				<% end %>
				<% end %>
				</td>
				<td align="right"></td>
			</tr>
			<tr>
				<td colspan="2">&nbsp;</td>
			</tr>
		</table>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="bgtab0">
			<% @situacao.each do |a|%>
			<tr> 
				<td colspan=3 align="center" width="16%" class="tittab2">Discriminação dos valores de abatimento / Descontos da NF - <%= a.NumNF %> Série - <%= a.SerieNF %></td>
			</tr>
			<% end %>
			<tr>
				<td align="center" width="20%" class="tittab2">Código</td>
				<td align="center" width="55%" class="tittab2">Descrição</td>
				<td nowrap align="center" width="25%" class="tittab2">Abatimento/Desconto</td>
			</tr>
			<% @resultado.each do |res| %>
			<tr> 
				<td align="center" class="bgtab1"><%= res.Codigo %></td>
				<td align="center" class="bgtab1"><%= res.Descricao %></td>
				<td align="center" class="bgtab1">
				<% if params[:id] == res.NumNF.to_s + "a" or params[:id] == res.NumNF.to_s + "xa" %>
					<%= res.VlrDesconto %>
				<% else %>
					<% if params[:id] == res.NumNF.to_s + "b" or params[:id] == res.NumNF.to_s + "xb"%>
						<%= res.VlrAbatimento %>
					<% end %>
				<% end %>
				</td>
			</tr>
			<% end %>
		</table>
		<br>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td align="left" height=25 class="txt2">Documento para simples conferência, sem valor jurídico.</td>
			</tr>
		</table>
		<br>
		<table align="left" border="0" cellpadding="0" cellspacing="0">
			<tr> 
				<td><%= button_to "Voltar", :back, :class=>"semclicar" %></td>
			</tr>
		</table>